# Node.js
/node_modules/
/frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# package-lock.json 
# yarn.lock         

# Python
/backend/.venv/
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.cfg
*.lo
*.o
*.h
*.gcno
*.gcda
*.gcov

# macOS
.DS_Store

# VSCode
.vscode/ 